body {
    width: 100%;
    margin: 0 auto;
    background-image: url("indexImage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#container {
    width: 60%;
    height: 560px;
    box-shadow: 1px 1px 30px 2px black;
    margin: auto;
    margin-top: 4%;
}
li {
    color: black;
    display: inline-block;
    margin-right: 100px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
#instructions {
    padding: 10px;
}
#install {
    font-family: Birch std, 'Times New Roman', Times, serif;
}
#bojack {
    font-size: 65px;
    font-family: Stencil std, Cooper std, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 102, 0);
    text-shadow: 2px 2px 1px white;
}
